/* .background-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.bolhas {
    position: absolute;
    display: flex;
}

.bolhas span {
    width: 30px;
    height: 30px;
    background-image: url('../img/sunflowerreach.png');
    margin: 0 4px;
} */