:root {
    --text-color: hsl(227, 10%, 46%);
    --card-color: hsl(0, 0%, 59%);
}

body {
    background-image: url('../img/backgroundfooterblack.png');
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: 130%;
    background-position: center;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    transform: translateY(120px);
}

.water-mark {
    color: #fff;
    size: 15px;
    padding-left: 40px;
    margin-top: 70px;
}

.link {
    color: #fff;
}